
body{
    overflow:hidden;
    background-color: #f0f0f0;
}

.ant-input-password{
    margin:30px 0;
}
.ant-card {
    margin:150px auto;
    width:30%;
}
@media screen and (max-width: 500px){
    .ant-card {
        width:80%;
    }
}


